<!-- Banner -->
<section id="banner">
	<div class="inner">
		<header>
			<div class="logo"></div>
			<h1>Boozehounds</h1>
			<p>*burp*</p>
		</header>
		<a href="#main" class="more">Learn More</a>
	</div>
</section>

<!-- Main -->
<div id="main">
	<!-- <div class="inner">

		<div class="thumbnails">

			<div class="box">
				<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/pic01.jpg" alt="" /></a>
				<div class="inner">
					<h3>Nascetur nunc varius commodo</h3>
					<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
					<a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
				</div>
			</div>

			<div class="box">
				<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
				<div class="inner">
					<h3>Nascetur nunc varius commodo</h3>
					<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
					<a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
				</div>
			</div>

			<div class="box">
				<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
				<div class="inner">
					<h3>Nascetur nunc varius commodo</h3>
					<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
					<a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
				</div>
			</div>

			<div class="box">
				<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/pic04.jpg" alt="" /></a>
				<div class="inner">
					<h3>Nascetur nunc varius commodo</h3>
					<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
					<a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
				</div>
			</div>

			<div class="box">
				<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
				<div class="inner">
					<h3>Nascetur nunc varius commodo</h3>
					<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
					<a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
				</div>
			</div>

			<div class="box">
				<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
				<div class="inner">
					<h3>Nascetur nunc varius commodo</h3>
					<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
					<a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
				</div>
			</div>

		</div>

	</div> -->
	<div class="inner">
		<h2>Who are the Boozehounds?</h2>
		<p>Founded in Sydney Australia, Boozehounds are a Youtube/video/not very good group of people who drink a lot of alcohol and sometimes play games.
			Or something like that. It's members include:</p>

			<div class="thumbnails">
				<div class="box">
					<div class="image fit">
						<img src="<%= asset_path('andrew.png') %>" />
					</div>
					<h3>Andrew "Breeny" Breen</h3>
					<p>Anti-buff, anti-most things</p>
					<ul class="icons">
						<li><a href="http://twitter.com/breeny592" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					</ul>
				</div>

				<div class="box">
					<div class="image fit">
						<img src="<%= asset_path('slidge.png') %>" />
					</div>
					<h3>Lachlan "Slidge" Smith</h3>
				</div>

				<div class="box">
					<div class="image fit">
						<img src="<%= asset_path('tony.png') %>" />
					</div>
					<h3>Tony Ward</h3>
				</div>

				<div class="box">
					<div class="image fit">
						<img src="<%= asset_path('matt.png') %>" />
					</div>
					<h3>Matt "Ranga" Dismorr</h3>
					<p>Red on the outside, red on the inside</p>
				</div>

				<div class="box">
					<h3>And other special guests</h3>
				</div>
			</div>
	</div>
</div>

<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<h2>Follow us on social media</h2>
		<p> </p>

		<ul class="icons">
			<li>
				<a href="https://www.youtube.com/channel/UCvQFwX6Y4ED4_PJ7nLu4npA" class="icon fa-youtube-play"><span class="label">Youtube</span></a>
			</li>
			<li><a href="http://twitter.com/boozehounds_yt" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="http://instagram.com/boozehounds_yt" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
		</ul>
		<p class="copyright">Design by: <a href="https://templated.co">TEMPLATED</a>.</p>
		<p>Made with <%= fa_icon "heart" %> in Sydney</p>
	</div>
</footer>
